.container {
    width: 1900px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    }
.page1{
    background: url("../image/html_css_homework_homework6_img_header-bg.jpeg") no-repeat;
    background-color: rgba(0, 0, 0, 0.41);
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
    height: 1825px;
    background-position-y: -280px;
}
nav{
    width: 100%;
    height: 70px;
    background-color: #1D2124;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
.logo{
    width: 178px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img, .search{
    width: 69px;
    height: 70px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
   }

.logo-text-link{
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.main-menu{
    width: 701px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-menu a{
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.header{
    height: 725px;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title1{
    font-size: 27px;
    color: white;
    margin-bottom: 44px;
}
.btn1, .btn2{
    width: 170px;
    height: 55px;
    font-size: 18px;
    color: white;
    border-radius: 6px;
    outline: none;
    border: none;
}
.btn1{
    background-color: #89CA62;
    margin-right: 20px;
}
.btn2{
    background-color: #14B9D5;
}
.section2{
    background-color: #F2F2F2;
    height: 1030px;
}
.title2, .title4{
    color: #18B4CF;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 52px;
    padding-top: 60px;
}
.post1, .post2, .post3, .post4, .post5, .post6{
    width: 370px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.post1{
    height: 320px;
    margin-bottom: 32px;
}
.post2, .post6{
    height: 441px;
    }
.post3{
    height: 355px;
    margin-bottom: 32px;
}
.post4{
    height: 321px;
}
.post5{
    height: 309px;
    margin-top: 32px;
}
.post1-img, .post2-img, .post3-img, .post4-img, .post5-img, .post6-img {
    width: 370px;
    margin-bottom: 20px;
}
.post1-img{
    height: 259px;
    }
.post2-img, .post6-img{
    height: 380px;
}
.post3-img{
    height: 290px;
}
.post4-img{
    height: 260px;
}
.post5-img{
    height: 247px;
}
.post-text{
    color: #353A3D;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    align-self: center;
}
.post2{
    height: 441px;
}
.posts {
    margin: auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}
.column1, .column2, .column3{
    width: 370px;
    display: flex;
    flex-direction: column;
}
.page2 {
    background: url("../image/html_css_homework_homework6_img_parallax-bg.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1825px;
    }
.section3{
    height: 588px;
    display: grid;
    justify-content: center;
    align-content: center;
}
.title3{
    height: 83px;
    justify-self: center;
}
.title3-text{
    font-size: 32px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    }
.shape{
    width: 60px;
    height: 3px;
    border: none;
    background-color: #169CB4;
    margin-top: 55px;
    margin-bottom: 0;
}
.brands{
    margin-top: 58px;
}
.brand1, .brand2, .brand3 {
    margin-right: 74px;
}
.brand1 img{
    margin-bottom: 15px;
    filter: invert(99%) sepia(47%) saturate(0%) hue-rotate(234deg) brightness(118%) contrast(100%);
}
.brand3 img{
     margin-bottom: 8px;
    }
.section4{
    background-color: #FFFFFF;
    height: 331px;
}
.Latest-posts{
    display: grid;
    grid-auto-flow: column;
}
.section5{
    height: 1683px;
    background-color: white;
 }
.news{
    width: 1168px;
    display: grid;
    grid-template-rows: 259px 418px 418px 259px;
    grid-template-areas:
            "news1 news1 news1 news2"
            "news3 news3 news4 news4"
            "news5 news5 news6 news6"
            "news7 news8 news8 news8";
    grid-row-gap: 43px;
    margin: 0 auto;
}
.news1{
    grid-area: news1;
}
.news2{
    grid-area: news2;
    justify-self: end;
}
.news3{
    grid-area: news3;
}
.news4{
    grid-area: news4;
    justify-self: end;
}
.news5{
    grid-area: news5;
}
.news6{
    grid-area: news6;
    justify-self: end;
}
.news7{
    grid-area: news7;
}
.news8{
    grid-area: news8;
    justify-self: end;
}
.news1, .news8{
    width: 857px;
    height: 259px;
    display: grid;
    grid-auto-flow: column;
}
.news1-img {
    height: 259px;
}
.news1-text{
    text-align: right;
    padding-right: 24px;
    padding-left: 30px;
    background-color: #F9F7F7;
}
.news1-text>p {
    font-size: 14px;
    color: #5B6469;
    line-height: 1.5;
}
.title5{
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
    margin-top: 41px;
    margin-bottom: 22px;
}
.news2, .news7{
    width: 277px;
    height: 258px;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 210px 48px;
}
.title6{
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
    background-color: #F9F7F7;
    text-decoration: none;
    text-align: center;
    padding-top: 14px;
}
.news3, .news4, .news5, .news6{
    width: 554px;
    height: 418px;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 259px 159px;
}
.title7{
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
    margin-top: 20px;
    margin-bottom: 22px;
}
footer{
    height: 80px;
    background-color: black;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    grid-template-columns: 1064px;
}
.footer{
    font-size: 13px;
    color: white;
    align-self: center;
}
.logo-footer-text img{
    filter: invert(100%) sepia(1%) saturate(163%) hue-rotate(6deg) brightness(116%) contrast(84%);
}
